<div>
  <mat-progress-bar *ngIf="processingAnim" mode="query"></mat-progress-bar>
  <mat-progress-bar *ngIf="processingAnimLogin" mode="query" color="accent"></mat-progress-bar>
  <div *ngIf="result?.code === 200" class="alert alert-success" role="alert">
    Registration successful!
  </div>
  <div *ngIf="result?.code !== -1 && result.code !== 200" class="alert alert-danger" role="alert">
    {{ result.desc }}
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="myform">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" required>
      <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
        <small *ngIf="name.errors['required']">Name is required</small>
        <small *ngIf="name.errors['minlength']">Username must be min. 3 character long, we need another
          {{name.errors["minlength"].requiredLength - name.errors["minlength"].actualLength}}
          characters
        </small>
      </div>
    </div>
    <div class="form-group">
      <label>Surname</label>
      <input type="text" class="form-control" formControlName="surname" required>
      <div class="form-control-feedback" *ngIf="surname.errors && (surname.dirty || surname.touched)">
        <small *ngIf="surname.errors['required']">Surname is required</small>
        <small *ngIf="surname.errors['minlength']">Username must be min. 3 character long, we need another
          {{surname.errors["minlength"].requiredLength - surname.errors["minlength"].actualLength}}
          characters
        </small>
      </div>
    </div>
    <div class="form-group">
      <label>Money</label>
      <input type="number" name="myDecimal" placeholder="Decimal" ng-model="myDecimal" class="form-control"
             ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" formControlName="money" required>
      <div class="form-control-feedback" *ngIf="money.errors && (money.dirty || money.touched)">
        <small *ngIf="money.errors['required']">Money is required</small>
        <small *ngIf="money.errors['minlength']">Username must be min. 3 character long, we need another
          {{money.errors["minlength"].requiredLength - money.errors["minlength"].actualLength}}
          characters
        </small>
      </div>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" formControlName="username" required>
      <div class="form-control-feedback" *ngIf="username.errors && (username.dirty || username.touched)">
        <small *ngIf="username.errors['required']">Username is required</small>
        <small *ngIf="username.errors['minlength']">Username must be min. 4 character long, we need another
          {{username.errors["minlength"].requiredLength - username.errors["minlength"].actualLength}}
          characters
        </small>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" validateEqual="confirmPassword"
             reverse="true" required>
      <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
        <small *ngIf="password.errors['required']">Password is required</small>
        <small *ngIf="password.errors['minlength']">Password must be 8 characters long, we need another
          {{password.errors["minlength"].requiredLength - password.errors["minlength"].actualLength}}
          characters
        </small>
      </div>
    </div>
    <div class="form-group">
      <label>Retype Password</label>
      <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword"
             validateEqual="password"
             required>
      <div class="form-control-feedback"
           *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
        <small *ngIf="confirmPassword.errors['required']">Password is required</small>
        <small *ngIf="confirmPassword.errors['minlength']">Password must be 8 characters long, we need another
          {{confirmPassword.errors['minlength'].requiredLength - confirmPassword.errors['minlength'].actualLength}}
          characters
        </small>
        <small *ngIf="confirmPassword.errors['validateEqual']">Password doesn's match</small>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <label class="form-check-label">
          <input formControlName="autologin" class="form-check-input" type="checkbox"> Autologin
        </label>
      </div>
    </div>
    <input type="submit" class="btn btn-success btn-block" value="Register" [disabled]="myform.invalid">
  </form>
</div>
